<div class="row">
  <article class="col-md-6">
    <div class="contents1">
      <h1>Bootstrap1〜4</h1>
      <div class="alert alert-info">Bootstrap1〜4までの内容です <span class="label label-info">Info</span></div>
      <ul class="row">
        <li class="col-sm-6 col-md-3">1.CSSフレームワークとレスポンスシブデザインについて</li>
        <li class="col-sm-6 col-md-3">2.Bootstrapのインストールとyarnについて</li>
        <li class="col-sm-6 col-md-3">3.layout,container,col,rowについて</li>
        <li class="col-sm-6 col-md-3">4.グリッドの入れ子とoffsetについて</li>
      </ul>
    </div>
  </article>
  <article class="col-md-6">
    <div class="contents2">
      <h1>Bootstrap5〜8</h1>
      <div class="alert alert-info">Bootstrap5〜8までの内容です <span class="label label-info">Info</span></div>
      <ul class="row">
        <li class="col-sm-6 col-md-3">5.コンポーネントとオーバーライドについて</li>
        <li class="col-sm-6 col-md-3">6.nav機能について</li>
        <li class="col-sm-6 col-md-3">7.CSSのまとめとアセットパイプライン、アセットコンパイルについて</li>
        <li class="col-sm-6 col-md-3">8.シングルページの例</li>
      </ul>
    </div>
  </article>
</div>
