<!DOCTYPE html>
<html>
  <head>
    <title>Webpages</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
                <span class="sr-only">DIVER</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">DIVER</a>
            </div>
            <div id="gnavi" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="">PHASE1</a></li>
                <li><a href="">PHASE2</a></li>
                <li><a href="">PHASE3</a></li>
                <li><a href="">PHASE4</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <%= yield %>
      <footer>
        <p>PHASE3 Bootstrap課題1</p>
      </footer>
    </div>
  </body>
</html>
